<div id="chart-explanation" class="row">
  <h4>Slice: How does title length affect downloads?</h4>
  <p>After pulling in ~2000 tracks from various genres, sorting for popularity, how does track title length stack up?</p>
</div>
<div class="row">
  <div class="col-md-12" id="longest-title-canvas-holder">
    <h4>Title Length</h4>
    <canvas id="longest-titles-chart-area"/>
  </div>
  <div class="col-md-12" id="popularity-canvas-holder">
    <h4>Popularity Metrics</h4>
    <canvas id="popularity-chart-area"/>
  </div>
</div>
<div class="row">
  <h4>Track Links:</h4>
  <div class="col-md-12">
    <div class="list-group">
      <% for sound in @mostPopularSongs do %>
        <%= link_to "(Genre: " + sound.genre + "): " + sound.title, sound.permalink_url, :class => "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>

<% # TODO This should be moved to its own JS file in the Assets pipeline. This works, but it's smelly. %>
<%= javascript_tag do %>

  var trackTitleLengths = [];
  var trackLabels = [];
  var trackDownloads = [];
  var trackFavoritings = [];
  var trackComments = [];
  var trackPlays = [];

  <% for sound in @mostPopularSongs do %>
    trackTitleLengths.push(<%= sound.title.length %>);
    trackLabels.push("<%= truncate(sound.title, length: 30) %>");
    trackDownloads.push(<%= sound.download_count %>);
    trackFavoritings.push(<%= sound.favoritings_count %>);
    trackComments.push(<%= sound.comment_count %>);
    trackPlays.push(<%= sound.playback_count %>);
  <% end %>

  var longestBarChartData = {
    labels : trackLabels,
    datasets : [
      {
        label: "Title Length",
        fillColor: "rgba(255,106,0,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(212,118,51,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
        data: trackTitleLengths
      }
    ]
  }

  var popularityBarChartData = {
    labels : trackLabels,
    datasets : [
      {
        label: "Downloads",
        fillColor: "rgba(255,106,0,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(212,118,51,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
        data: trackDownloads
      },
      {
        label: "Favoritings",
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,0.8)",
        highlightFill : "rgba(151,187,205,0.75)",
        highlightStroke : "rgba(151,187,205,1)",
        data: trackFavoritings
      },
      {
        label: "Comments",
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,0.8)",
        highlightFill : "rgba(151,187,205,0.75)",
        highlightStroke : "rgba(151,187,205,1)",
        data: trackComments
      },
      {
        label: "Plays",
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,0.8)",
        highlightFill : "rgba(151,187,205,0.75)",
        highlightStroke : "rgba(151,187,205,1)",
        data: trackPlays
      }
    ]
  }

  window.onload = function(){
    var ctx = document.getElementById("longest-titles-chart-area").getContext("2d");
    window.longestBarChart = new Chart(ctx).Bar(longestBarChartData, {
      responsive : true,
      multiTooltipTemplate: "Title: <%%= datasetLabel %> | Length: <%%= value %>"
    });

    var ctx = document.getElementById("popularity-chart-area").getContext("2d");
    window.popularityBarChart = new Chart(ctx).Bar(popularityBarChartData, {
      responsive : true,
      multiTooltipTemplate: "<%%= datasetLabel %>: <%%= value %>"
    });
  }

<% end %>